  <div class="head" id="head">

  <!-- <a href="#" class="menu smoothScroll menuFontSize">
    <span class="border1"></span>
    <span class="border2"></span>
    <span class="border3"></span>
    <span class="border4"></span>
    Home
  </a> -->
  <a href="#illust" class="menu smoothScroll menuFontSize">
    <span class="border1"></span>
    <span class="border2"></span>
    <span class="border3"></span>
    <span class="border4"></span>
    Illust
  </a>
  <!-- <a href="#" class="menu smoothScroll menuFontSize">
    <span class="border1"></span>
    <span class="border2"></span>
    <span class="border3"></span>
    <span class="border4"></span>

  </a> -->
  <a href="#contact" class="menu smoothScroll menuFontSize">
    <span class="border1"></span>
    <span class="border2"></span>
    <span class="border3"></span>
    <span class="border4"></span>
    Contact
  </a>
</div>

  <div class="container">
      <p class="background">K</p>
      <p class="background">E</p>
      <p class="background">L</p>
      <p class="background">L</p>
      <p class="background">Y</p>
  </div>
  <img src="桜の季節.jpg" alt="" class="background-image">

  <div class="top-wrapper">
    <div class="container">
      <h2>about</h2>
      <a href="#contact" class="btn signup smoothScroll">Contact Form </a>
      <p>Please SHARE this article.</p>
      <a href="https://www.pixiv.net/users/5393987" class="btn pixiv" target="_blank"><img class="pixiv-icon" src="https://cdn.discordapp.com/attachments/679267726933491727/694441893962186752/logo.b4908c7.png" alt="">Pixiv</a>
      <a href="https://twitter.com/kelly_dog_cat" class="btn twitter" target="_blank"><span class="fab fa-twitter"></span>Twitter</a>
    </div>
  </div>
  <div class="illust" id="illust">
    <h1>illust</h1>
    <div class="illust-container">
      <div class="illust-content">
        <div class="content">
          <p></p>
            <img src="assets/test.jpg" alt="">

          </div>
        </div>
      </div>
    <div class="illust-container">
      <div class="illust-content">
        <div class="content">
          <p></p>
          <img src="assets/新年.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="illust-container">
      <div class="illust-content">
        <div class="content">
          <p></p>
          <img src="assets/test.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="illust-container">
      <div class="illust-content">
        <div class="content">
          <p></p>
          <img src="assets/test.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="illust-container">
      <div class="illust-content">
        <div class="content">
          <p></p>
          <img src="assets/test.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="illust-container">
      <div class="illust-content">
        <div class="content">
          <p></p>
          <img src="assets/test.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="illust-container">
      <div class="illust-content">
        <div class="content">
          <p></p>
          <img src="assets/test.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="illust-container">
      <div class="illust-content">
        <div class="content">
          <p></p>
          <img src="assets/test.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="illust-container">
      <div class="illust-content">
        <div class="content">
          <p></p>
          <img src="assets/test.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="illust-container">
      <div class="illust-content">
        <div class="content">
          <p></p>
          <img src="assets/test.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="illust-container">
      <div class="illust-content">
        <div class="content">
          <p></p>
          <img src="assets/test.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="illust-container">
      <div class="illust-content">
        <div class="content">
          <p></p>
          <img src="assets/test.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="clear">

    </div>
  </div>
  <div class="reload">
    <a href="#" >More</a>
  </div>
  <div class="mail" id="contact">
    <h1>Contact</h1>
    <div class="mail_wrapper">
      <p>Usage</p>
      <input type="radio" name="usage" value="labelegal_entity" onclick="entryChange();" id="corporate"><label for="corporate" class="menu label1">
        <span class="border1"></span>
        <span class="border2"></span>
        <span class="border3"></span>
        <span class="border4"></span>
        Corporate use<span class="japanFont">&nbsp;&nbsp;（法人利用）</span></label>
      <input type="radio" name="usage" value="individual" onclick="entryChange();" id="personal"><label for="personal" class="menu label2">
        <span class="border1"></span>
        <span class="border2"></span>
        <span class="border3"></span>
        <span class="border4"></span>
        Personal use <span class="japanFont">&nbsp;&nbsp;（個人利用）</span></label>
      <div class="labelegal_entity" id="labelegal_entity">
        <form method="post" action="" >
          <p>Your Email Address<span class="japanFont">（連絡先メールアドレス）</span></p>
          <input type="email" class="input" name="" value="" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="kelly@example.com">
          <p>Budget<span class="japanFont">（予算）</span></p>
          <input type="text" class="input" name="" value="" required pattern="[1-9][0-9]*"><p class="yen">Japanese Yen</p>
          <p>Content<span class="japanFont">（依頼内容）</span></p>
          <textarea class="textarea" name="message" rows="8" cols="80" required></textarea><br />
          <a href="#" class="menu menuFontSize" name="submit">
            <span class="border1"></span>
            <span class="border2"></span>
            <span class="border3"></span>
            <span class="border4"></span>
            Send
          </a>
        </form>
      </div>
      <div class="individual" id="individual">
        <p>Please copy the content below</p>
        <p class="japanFont">1.以下の内容をコピーしてください</p>
        <textarea name="name" class="textarea copy-text" id="copyTarget" readonly rows="4" cols="45">Your Email Address（連絡先メールアドレス）:
Content（依頼内容）:
</textarea><br/>
        <label onclick="copyToClipboard()" class="menu">
          <span class="border1"></span>
          <span class="border2"></span>
          <span class="border3"></span>
          <span class="border4"></span>
          Copy Content<span class="japanFont">&nbsp;（コピーする）</span>
        </label>
        <p id="alert"></p>
        <p>When the copy is completed,<br/>please access the following site and fill in the copied template and request.</p>
        <p class="japanFont">2.コピーが完了したら下記サイトにアクセスしていただきコピーしたテンプレートを埋めてご依頼ください</p>
        <a href="https://skeb.jp/@kelly_dog_cat" target="_blank" class="btn skeb">Request Page(Skeb)</a>

      </div>
    </div>
  </div>
  <div class="topScroll" id="topScroll">
    <span class="fas fa-arrow-up"></span>
  </div>
  <script type="text/javascript">
  document.addEventListener("click", e => {
    const target = e.target;
    // clickした要素がclass属性、js-smooth-scrollを含まない場合は処理を中断
    if (!target.classList.contains("smoothScroll")) return;
    e.preventDefault();
    const targetId = target.hash;
    document.querySelector(targetId).scrollIntoView({
      behavior: "smooth",
      block: "start"
    });
  });
  function entryChange() {
     var radio = document.getElementsByName("usage");
     if (radio[0].checked) {
       document.getElementById("labelegal_entity").style.display = "block";
       document.getElementById("individual").style.display = "none";
     }else if(radio[1].checked) {
       document.getElementById("individual").style.display = "block";
       document.getElementById("labelegal_entity").style.display = "none";
     };
  };
  window.onload = entryChange;

  function copyToClipboard(){
    var copyTarget = document.getElementById("copyTarget");
    copyTarget.select();
    document.execCommand("Copy");
    var alert = document.getElementById("alert");
    alert.innerHTML = "Copied<span class='japanFont'>（コピーしました）</span>"
  };
  var element = document.getElementById( "head" ) ;

document.getElementById( "topScroll" ).onclick = function () {
element.scrollIntoView( {
  behavior: "smooth",
  block: "start"
});
};
var px_change = 600;
// スクロールのイベントハンドラを登録
window.addEventListener('scroll', function(e) {
// 変化するポイントまでスクロールしたらクラスを追加
var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
if ( scrollTop > px_change ) {
  document.getElementById( "topScroll" ).style.display = "block";

// 変化するポイント以前であればクラスを削除
} else {
  document.getElementById( "topScroll" ).style.display = "none";
}
});
  </script>
