<%= render 'layouts/header' %>

<%= render 'layouts/about' %>

<%= render 'layouts/illust' %>

<%= render 'layouts/contact' %>
  <div id="topScroll" class="topScroll">
    <span class="fas fa-arrow-up"></span>
  </div>
