<% set_meta_tags og:{ image: image_url(url_for(@illust.fullimage))}, twitter:{image: image_url(url_for(@illust.fullimage))}  %>
<%= image_tag @illust.fullimage ,id: 'page-fullimage',class: 'showPageimage'%>
<%= link_to  '/',class: 'backButton' do %>
<p>See other illustrations<br>ほかのイラスト作品はこちら</p>
<% end %>
