.container{
  user-select: none;
  position:absolute
}


.background{
  padding:0;
  margin:0;
  font-weight: bold;
  float:left;
  color: transparent;
  -webkit-background-clip:text;
  width: 20%;
  text-align:center;
  font-size:3000%;
  cursor:default;
  opacity:0.5;
  font-family: cursive;


}
.background:nth-child(1){
  background-image: url("/assets/星.jpg");
  background-size:338px 600px;
  background-position:60% 90%;

}
.background:nth-child(2){
  background-image: url("/assets/新年.jpg");
  background-size:849px 1200px;
  background-position:50% 10%;

}
.background:nth-child(3){
  background-image: url("/assets/illusthead.jpg");
  background-size:600px 600px;
  background-position:50% 90%;
}
.background:nth-child(4){
  background-image: url("/assets/世界を革命する力を.jpg");
  background-size:764px 795px;
  background-position:44% 20%;

}
.background:nth-child(5){
  background-image: url("/assets/明けましておめでとうございます。.jpg");
  background-size:1200px 800px;
  background-position:30% -20%;
}
.top-wrapper{
  padding-top:100px;
  opacity:0.7;
  display:block;
  padding: 0px 100px;
  font-family: cursive;
}
.top-wrapper h2,.illust h1,.mail h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;

}
.fa{
   margin-right:5px;
}
.signup {
  background-color:black ;
}

.pixiv {
  background-color: black;
  margin-right: 10px;
}

.twitter {
  background-color: black;
}
.pixiv-icon{
  height:30px;

}
