.container{
  user-select: none;
  position:absolute;
  top:0;
  z-index: -10;
  padding:150px 0;
  width:100%;
  background: linear-gradient(white,transparent);
}


.background{
  padding:0;
  margin:0;
  font-weight: bold;
  float:left;
  color: transparent;
  opacity:0.8;
  font-size: 2000%;
  -webkit-background-clip:text;
  width: 20%;
  text-align:center;
  cursor:default;
font-family: 'Monoton', cursive;
}
.background:nth-child(1){
  background-image: url("/assets/星.jpg");
  background-size:338px 600px;
  background-position:60% 90%;
}
.background:nth-child(2){
  background-image: url("/assets/新年.jpg");
  background-size:849px 1200px;
  background-position:50% 10%;

}
.background:nth-child(3){
  background-image: url("/assets/0518.jpg");
  background-size:300px 500px;
  background-position:100% 70%;
}
.background:nth-child(4){
  background-image: url("/assets/315876.jpg");
  background-size:1002px 1002px;
  background-position:70% 15%;

}
.background:nth-child(5){
  background-image: url("/assets/明けましておめでとうございます。.jpg");
  background-size:1200px 800px;
  background-position:30% -20%;
}
.top-wrapper{
  padding-top:100px;
  opacity:0.7;
  display:block;
  padding: 0px 100px;
  font-family: 'Coiny', cursive;
}
.top-wrapper h2,.illust h1,.mail h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;

}
.fa{
   margin-right:5px;
}
.signup {
  background-color:black ;
}

.pixiv {
  background-color: black;
  margin-right: 10px;
}

.twitter {
  background-color: black;
}
.pixiv-icon{
  height:30px;

}
