
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  padding: 0;
}
h1{
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}





.yen{
  display: inline;
}



.menuFontSize{
  font-size: 30px;
}
.topScroll{
  position: fixed;
  bottom:30px;
  right:30px;
  background-color:black;
  padding:10px 15px;
  border-radius: 20px;
  opacity:0.56;
  cursor: pointer;
  display: none;
}
.topScroll:hover{
  opacity:0.8;
}
.fas,.far{
  font-size: 80px;
  color:white;
}

.iphone{
  display: none;

}
.lactop{
  // display: none;
}
@media screen and (max-width: 1024px){
  h1{
    text-align: center;
    margin: 0;
    margin-bottom: 50px;

  }
  .background-image{
    width: 100%;
  }
  .topScroll{
    .fas,.far{
      font-size: 60px;
      color:white;
    }
  }
  .header{
    padding: 0;
    padding-top: 50px;

    text-align: center;
    .menu{
      font-size: 20px;
      padding: 20px 40px;
      margin: 20px;
    }
  }
  .create{
  }
  .topimage{
    padding-top: 200px;
    height: 600px;
    .backimage{
      .background{
        font-size: 1100%;
        &:nth-child(1){
          background-size:200px 354px;
          background-position:60% 30%;
        }
        &:nth-child(2){
          background-size:400px 565px;
          background-position:57% 0%;
        }
        &:nth-child(3){
          background-size:200px 304px;
          background-position:70% 70%;
        }
        &:nth-child(4){
          background-size:500px 500px;
          background-position:55% -10%;
        }
        &:nth-child(5){
          background-size:600px 400px;
          background-position:30% 0%;
        }
      }
    }
  }
  .illust{
    .illust-container{
      width: 25%;
      .illust-content{
        height: 200px;
        .content{
          width: 150px;
          height:150px;
        }
      }
    }
    .fullimage{
      .fullillust{
      }
      .close{
        background: rgba(220,220,220,0.7);
        border-radius: 20px;
        height: 100px;
        width:120px;
        position: absolute;
        top:70%;
        right:5%;
        z-index: 30;
        .fa-times{
          font-size: 100px;
          position: absolute;

        }
      }

      .delete{
        display: none;
        span{
        }
      }
      .share{
        .shareTitle{
          font-size:30px;
        }
        a{
        }
        p{
        }
        .Vertical{
        }
        .s-facebook{
        }
        .s-twitter{
        }
        .s-line{
        }
      }
    }
  }
  .page{
    display: none;
  }
  .last{
    display: none;
  }
  .first{
    display: none;
  }
  .next,.prev{
    width: 200px;
    background: black;
    opacity: 0.9;
    a{
      color: white;
    }
  }
  .sns{
    .snsMenu{
      margin: 0 auto;
      width: 100%;
      .snsContainer{
        width:50%;
        .btn{
          width: 30%;
        }
      }
    }
  }
  .mail{
    opacity: 1;
    .menu{
      margin: 5px 0;
      width: 80%;
      padding: 8px 24px;
      font-size: 30px;
      text-align: center;
      height: 44px;
      border-radius: 4px;
      p{
        .fas{
          display: block;
          font-size: 40px;
          padding-top: 2px;
          padding-left: 100px;
        }

      }
      .japanFont{
        display: none;
      }
    }
    .mail_wrapper{
      margin: 0 auto;
      text-align: center;
      padding:0;
      .labelegal_entity,.individual{
        padding: 0;
        .send{
          margin-top: 40px;
          height: 60px;
        }
        .brTypeResposive{
          display: block;
        }
        input,textarea{
          width: 70%;
        }
      }
    }
  }
}
@media screen and (max-width: 600px){
  h1{
    text-align: center;
    margin: 0;
    margin-bottom: 50px;

  }

  .iphone{
    display: block;
    width: 100%;
  }
  .lactop{
    display: none;
  }
  .header{
    display: none;
  }
  .topScroll{
    display: none;
  }
  .iphone-menu{
    display: block;
  }
  .create{
    display: none;
  }
  .topimage{
  padding-top: 150px;
    .backimage{
      .background{
        font-size: 500%;
        &:nth-child(1){
          background-size:100px 177px;
          background-position:30% 30%;
        }
        &:nth-child(2){
          background-size:200px 282px;
          background-position:50% 10%;
        }
        &:nth-child(3){
          background-size:100px 152px;
          background-position:60% 20%;
        }
        &:nth-child(4){
          background-size:200px 200px;
          background-position:60% 10%;
        }
        &:nth-child(5){
          background-size:300px 200px;
          background-position:25% -10%;
        }
      }
    }
  }
  .illust{
    margin: 0;
    .illust-container{
      width: 50%;
      .illust-content{
        height: 150px;
        .content{
          width:100px;
          height: 100px;
        }
      }
    }
    .fullimage{

      .fullillust{
      }
      .close{
        background: black;
        border-radius: 20px;
        height: 50px;
        width:60px;
        position: absolute;
        top:5%;
        right:5%;
        z-index: 30;
        .fa-times{
          font-size: 50px;
          position: absolute;
          color:white;
        }
      }

      .delete{
        display: none;
        span{
        }
      }
      .share{
        font-size: 20px;
        width: 100%;
        background: black;
        color:white;
        position: absolute;
        z-index: 30;
        bottom: 0;
        .shareTitle{
          font-size:30px;
        }
        a{
          float:left;
          text-align: center;
          margin: 0 auto;
          text-decoration: none;
          font-size: 20px;
        }
        p{
          display: inline;
        }
        .Vertical{
          display: none;
        }
        .s-facebook{
          color:white;
          width:40%
        }
        .s-twitter{
          color:white;
          width:30%
        }
        .s-line{
          display: block;
          color:white;
          width:30%
        }
      }
    }
  }
  .page{
    display: none;
  }
  .last{
    display: none;
  }
  .first{
    display: none;
  }
  .next,.prev{
    width: 200px;
    background: black;
    opacity: 0.9;
    a{
      color: white;
    }
  }
  .sns{
    .snsMenu{
      margin: 0 auto;
      width: 100%;
      .snsContainer{
        width: 50%;
        .pixiv {
          .pixiv-icon{
            height:50px;
          }
        }
        .twitter {
          .twitter-icon{
            height: 50px;
          }
        }
        .btn{
          height: 100px;
          width: 70%;
        }
      }
    }
  }
  .mail{
    opacity: 1;
    h1{
      padding: 0;
    }
    .menu{
      margin: 5px 0;
      width: 80%;
      padding: 8px 24px;
      font-size: 30px;
      text-align: center;
      height: 44px;
      border-radius: 4px;
      p{
        .fas{
          display: block;
          font-size: 40px;
          padding-top: 1px;
          padding-left: 0;
        }
        .fa-location-arrow{
          display: none;
        }
        .japanFont{
          display: none;
        }
      }
      .menuTitle{
        padding-left: 20px;
      }
    }
    .mail_wrapper{
      margin: 0 auto;
      text-align: center;
      padding:0;
      .labelegal_entity,.individual{
        padding: 0;
        .send{
          margin-top: 40px;
          height: 60px;
        }
        .brTypeResposive{
          display: block;
        }
        input,textarea{
          width: 70%;
        }
      }
    }
  }
}
