@import "variables";

.create{
  width: 90%;
  margin: 0 auto;
  height: 600px;
  font-family: $famiry;
  background-color: rgba(0,0,0,0.56);
  padding:10px 15px;
  border-radius: 20px;
  .post-list{
    width:33.2%;
    float: left;
    color: white;
    .fullimage-postCss{
      background: black;
      opacity: 0.56;
      color:white;
      font-size: 10px;
      border-radius: 10px;
      padding: 10px;
      margin-top: 20px;
    }
    img{
      width: 100%;
      margin-top: 15px;
    }
  }
  .trimming{
    display: none;
    position:fixed;
    z-index: 15;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(128,128,128,1);
    .trimmingTarget{
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 20;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
    .dust{
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: rgba(128,128,128,0.4);
      z-index: 30
    }
    .mini{
      display: none;
      position: absolute;
      top:0;
      left:0;
      background:  #3366CC;
      opacity:0.6;
      z-index: 40;
    }
    .decision{
      position: absolute;
      bottom:20px;
      right: 20px;
      background: black;
      opacity: 0.56;
      color:white;
      font-size: 50px;
      border-radius: 10px;
      cursor: pointer;
      .fas{
        font-size: 50px;
      }
    }
    .edit{
      font-size: 20px;
      color: white;
      position: absolute;
      top: 100px;
      right:40px;
      border-radius: 20px;
      text-align: center;
      .zoom{
        background: black;
        border-radius: 20px;
        opacity: 0.56;
        padding: 20px;
        display: inline-block;
        cursor: pointer;
        .fas{
          font-size: 20px;
        }
        &:hover{
          opacity: 0.8;
        }
      }
      .move{
        padding: 20px;
        background: black;
        border-radius: 20px;
        opacity: 0.56;
        display: inline-block;
        margin: 30px;
        cursor: pointer;
        .fas{
          font-size: 20px;
        }
        &:hover{
          opacity: 0.8;
        }
      }
      }
      .fa-border-style{
        transform:rotate(180deg);
        display: none;
        position: absolute;
        font-size: 25px;
        background: black;
        opacity: 0.56;
        z-index: 50;
        cursor:nwse-resize;
    }
  }
  .createTag{
    float: right;
    width: 33%;
    .newCategory{
      font-size:10px;
      color: white;
      background-color: black;
      border: 10px rgba(0,0,0,0.7) solid;
      border-radius: 20px;
      opacity: 0.56;
    }
  }
  .btn{
    padding: 8px 24px;
    color: white;
    background: black;
    display: inline-block;
    opacity: 0.56;
    border-radius: 4px;
    text-decoration: none;
    font-size: 10px;
    &:hover {
      opacity: 1;
    }
  }
  .tagDelete{
    display: none;
    position:fixed;
    z-index: 15;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(128,128,128,1);
  }
  .tagDeleteMenu{
    width:80%;
    background: white;
    margin:50px auto;
    padding: 60px;
    border-radius: 20px;
    .fa-times{
      position: absolute;
      top:70px;
      right: 70px;
      padding: 8px 24px;
      color: white;
      background: black;
      display: inline-block;
      opacity: 0.56;
      border-radius: 4px;
      text-decoration: none;
      font-size: 10px;
      &:hover{
        opacity: 1;
      }
    }
    .tagDeleteLink{
      padding: 8px 24px;
      color: white;
      background: black;
      display: inline-block;
      opacity: 0.56;
      border-radius: 4px;
      text-decoration: none;
      &:hover{
        opacity: 1;
      }
    }
  }
}
