@import "variables";

.create{
  width: 90%;
  margin: 0 auto;
  height: 600px;
  font-family: $famiry;
  background-color: rgba(0,0,0,0.56);
  padding:10px 15px;
  border-radius: 20px;
  .post-list{
    width:33.2%;
    float: left;
    color: white;
    img{
      width: 100%;
    }
  }
}
