@import "variables";

.illust{
  width:100%;
  .tag{
    font-family: $famiry;
    padding: 30px;
    font-size: 15px;
    span{
      padding: 10px;
      margin: 0 5px;
      color: white;
      background: black;
      text-decoration: none;
      opacity: 1;
      border-radius: 4px;
    }
    a{
      padding: 10px;
      margin: 0 5px;
      color: white;
      background: black;
      text-decoration: none;
      opacity: 0.56;
      border-radius: 4px;
      &:hover{
        opacity: 1;
      }
    }
  }
  h1{
    font-family: $famiry;
    padding: 0px 100px;
    opacity: 0.49;
  }
  .illust-container{
    width:20%;
    float:left;
    margin: 0px auto;
    text-align: center;
    .illust-content{
      height:300px;
      .content{
        border: 10px rgba(0,0,0,0.7) solid;
        border-radius: 20px;
        margin: 0 20px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        width: 200px;
        height: 200px;
        position: relative;
        cursor:pointer;
        canvas{
          width:100%;
          height:100%;
        }
      }
    }
  }
  .fullimage{
    display:none;
    position:fixed;
    z-index: 15;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(128,128,128,0.8);
    .fullillust{
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 20;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
    .close{
      position: absolute;
      top:5%;
      right:20%;
      z-index: 30;
      cursor: pointer;
      font-size: 100px;
      .fa-times{
        color:black;
      }
    }
    .delete{
      position: absolute;
      top:5%;
      right:10%;
      z-index: 100;
      font-size: 100px;
      span{
        color:black;
      }
    }
    .share{
      font-size: 100px;
      position: absolute;
      z-index: 30;
      p{
        display: none;
      }
      .Vertical{
      }
      .s-facebook{
        color:black;
      }
      .s-twitter{
        color:black;
      }
      .s-line{
        display: none;
        color:black;
      }
    }
  }
  .clear{
    clear:left;
  }

}
