@import "variables";

.illust{
  margin:0 auto;
  h1{
    font-family: $famiry;
    padding: 0px 100px;
    opacity: 0.49;
  }
  #illust-container{
    width: 80%;
    margin: 0 auto;
    .illust-container{
      width:25%;
      float:left;
      text-align: center;
      .illust-content{
        height:300px;
        .content{
          border: 10px rgba(0,0,0,0.7) solid;
          margin: 0 auto;
          // border-radius: 20px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          width: 200px;
          height: 200px;
          position: relative;
          cursor:pointer;
          canvas{
            width:100%;
            height:100%;
          }
          transition: border .3s;
          &:hover{
            border: 10px rgba(0,0,0,0) solid;
          }
        }
      }
    }
  }

  .fullimage{
    display:none;
    position:fixed;
    z-index: 15;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(128,128,128,0.8);
    .fullillust{
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 25;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
    .close{
      position: absolute;
      top:5%;
      right:20%;
      z-index: 30;
      cursor: pointer;
      font-size: 100px;
      .fa-times{
        color:black;
      }
    }
    .delete{
      position: absolute;
      top:5%;
      right:10%;
      z-index: 100;
      font-size: 100px;
      span{
        color:black;
      }
    }
    .edit{
      .fa-edit{
        position: absolute;

        z-index: 100;
      }
      .editContent{
        display: none;
        position: fixed;
        top: 0;
        z-index: 200;
        width: 100%;
        height: 100vh;
        background-color: rgba(128,128,128,1);
        .editIllustTag{
          width:80%;
          background: white;
          margin:50px auto;
          padding: 60px;
          border-radius: 20px;
          input{
            padding: 8px 24px;
            color: white;
            background: black;
            display: inline-block;
            opacity: 0.56;
            border-radius: 4px;
            text-decoration: none;
            &:hover{
              opacity: 1;
            }
          }
          .btn{
            float: right;
          }

        }
        .fa-times{
          position: absolute;
          top:70px;
          right: 70px;
          padding: 8px 24px;
          color: white;
          background: black;
          display: inline-block;
          opacity: 0.56;
          border-radius: 4px;
          text-decoration: none;
          font-size: 10px;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
    .share{
      font-size: 100px;
      position: absolute;
      font-family: $famiry;
      bottom: 0;
      z-index: 30;
      p{
        display: none;
      }
      .Vertical{
      }
      .s-facebook{
        color:black;
      }
      .s-twitter{
        color:black;
      }
      .s-line{
        display: none;
        color:black;
      }
    }
    .backClose{
      position:fixed;
      z-index: 20;
      top:0;
      left:0;
      width:100%;
      height: 100%;
      background-color: rgba(128,128,128,0.8);
    }
  }

  .clear{
    clear:left;
  }

}
