.iphone{
  display: none;

}
.lactop{
  // display: none;
}

@media(max-width: 600px){
  h1{
    text-align: center;
    margin: 0;
  }

  .iphone{
    display: block;
    width: 100%;
  }
  .lactop{
    display: none;
  }
  .header{
    display: none;
  }
  .topScroll{
    display: none;
  }
  .iphone-menu{
    display: block;
  }
  .create{
    display: none;
  }
  .topimage{
    height: 200px;
    padding-top: 100px;
    .backimage{
      .background{
        font-size: 500%;
        &:nth-child(1){
          background-size:100px 177px;
          background-position:30% 30%;
        }
        &:nth-child(2){
          background-size:200px 282px;
          background-position:50% 10%;
        }
        &:nth-child(3){
          background-size:100px 152px;
          background-position:60% 20%;
        }
        &:nth-child(4){
          background-size:200px 200px;
          background-position:60% 10%;
        }
        &:nth-child(5){
          background-size:300px 200px;
          background-position:25% -10%;
        }
      }
    }
  }
  .illust{
    .illust-container{
      width: 50%;
      .illust-content{
        height: 150px;
        .content{
          width:100px;
          height: 100px;
        }
      }
    }
    .fullimage{

      .fullillust{
      }
      .close{
        background: black;
        border-radius: 20px;
        height: 50px;
        width:60px;
        position: absolute;
        top:5%;
        right:5%;
        z-index: 30;
        .fa-times{
          font-size: 50px;
          position: absolute;
          color:white;
        }
      }

      .delete{
        display: none;
        span{
        }
      }
      .share{
        font-size: 20px;
        width: 100%;
        background: black;
        color:white;
        position: absolute;
        bottom: 0;
        z-index: 30;
        .shareTitle{
          font-size:30px;
        }
        a{
          float:left;
          text-align: center;
          margin: 0 auto;
          text-decoration: none;
        }
        p{
          display: inline;
        }
        .Vertical{
          display: none;
        }
        .s-facebook{
          color:white;
          width:33%
        }
        .s-twitter{
          color:white;
          width:33%
        }
        .s-line{
          display: block;
          color:white;
          width:33%
        }
      }
    }
  }
  .page{
    display: none;
  }
  .last{
    display: none;
  }
  .first{
    display: none;
  }
  .next,.prev{
    width: 200px;
    background: black;
    opacity: 0.9;
    a{
      color: white;
    }
  }
  .sns{
    .snsMenu{
      margin: 0 auto;
      width: 100%;

      .pixiv{
        margin-right: 0;
      }
      .btn{
        margin-bottom: 10px;
        opacity: inherit;
        width: 80%;
        background: black;
      }
    }
  }
  .mail{
    opacity: 1;
    h1{
      padding: 0;
    }
    .menu{
      margin: 20px 0;
      width: 90%;
      padding: 0;
      text-align: center;
      height: 80px;
    }
    .mail_wrapper{
      margin: 0 auto;
      text-align: center;
      padding:0;
      .labelegal_entity,.individual{
        padding: 0;
        textarea{
        }
      }
    }
  }
}

@media(max-width: 1000px){
  .topScroll{
    .fas,.far{
      font-size: 60px;
      color:white;
    }
  }
  .header{
    .menu{
      font-size: 20px;
      padding: 20px 40px;
    }
  }
  .create{
    display: none;
  }
  .topimage{
    height: 350px;
    .backimage{
      .background{
        font-size: 1100%;
        &:nth-child(1){
          background-size:200px 354px;
          background-position:60% 30%;
        }
        &:nth-child(2){
          background-size:400px 565px;
          background-position:57% 0%;
        }
        &:nth-child(3){
          background-size:200px 304px;
          background-position:70% 70%;
        }
        &:nth-child(4){
          background-size:500px 500px;
          background-position:55% -10%;
        }
        &:nth-child(5){
          background-size:600px 400px;
          background-position:30% 0%;
        }
      }
    }
  }
  .illust{
    .illust-container{
      width: 25%;
      .illust-content{
        height: 200px;
        .content{
          width: 150px;
          height:150px;
        }
      }
    }
    .fullimage{
      .fullillust{
      }
      .close{
        background: rgba(220,220,220,0.7);
        border-radius: 20px;
        height: 100px;
        width:120px;
        position: absolute;
        top:70%;
        right:5%;
        z-index: 30;
        .fa-times{
          font-size: 100px;
          position: absolute;

        }
      }

      .delete{
        display: none;
        span{
        }
      }
      .share{
        .shareTitle{
          font-size:30px;
        }
        a{
        }
        p{
        }
        .Vertical{
        }
        .s-facebook{
        }
        .s-twitter{
        }
        .s-line{
        }
      }
    }
  }
  .page{
    display: none;
  }
  .last{
    display: none;
  }
  .first{
    display: none;
  }
  .next,.prev{
    width: 200px;
    background: black;
    opacity: 0.9;
    a{
      color: white;
    }
  }
  .sns{
    .snsMenu{
      margin: 0 auto;
      width: 100%;

      .pixiv{
        margin-right: 0;
      }
      .btn{
        margin-bottom: 10px;
        opacity: inherit;
        width: 80%;
        background: black;
      }
    }
  }
  .mail{
    opacity: 1;
    .menu{
      margin: 20px 0;
      width: 90%;
      padding: 0 40px;
      font-size: 30px;
      text-align: center;
      height: 80px;
      .japanFont{
        display: none;
      }
    }
    .mail_wrapper{
      margin: 0 auto;
      text-align: center;
      padding:0;
      .labelegal_entity,.individual{
        padding: 0;
        textarea{
        }
      }
    }
  }
}
