.iphone{
  display: none;
  width: 100%;
}
.lactop{
  // display: none;
}

@media(max-width: 600px){
  .iphone{
    display: block;
  }
  .lactop{
    display: none;
  }
  .header{
    display: none;
  }
  .topScroll{
    display: none;
  }
  .iphone-menu{
    display: block;
  }
}
