.sns{
  padding-top:100px;
  display:block;
  font-family: 'Coiny', cursive;
  height: 600px;
  .snsMenu{
    text-align: center;
    .fa{
       margin-right:5px;
    }
    .pixiv {
      background-color: black;
      .pixiv-icon{
        height:30px;
      }
    }
    .twitter {
      background-color: black;
    }
    .btn{
      padding: 8px 24px;
      color: white;
      display: inline-block;
      opacity: 0.56;
      border-radius: 4px;
      text-decoration: none;
      font-size: 30px;
      &:hover {
        opacity: 1;
      }
    }
  }
}
