@import "variables";
.sns{
  padding-top:100px;
  display:block;
  font-family: $famiry;
  height: 600px;
  .snsMenu{
    text-align: center;
    .snsContainer{
      width: 50%;
      float:left;
      .pixiv {
        background-color: black;
        .pixiv-icon{
          height:100px;
          vertical-align: middle;
          padding-bottom: 4px;
        }
      }
      .twitter {
        background-color: black;
        .twitter-icon{
          height: 100px;
          vertical-align: middle;
          padding-bottom: 4px;
        }
      }
      .btn{
        width: 30%;
        height: 150px;
        padding: 8px 24px;
        padding-top: 20px;
        color: white;
        display: inline-block;
        opacity: 0.56;
        border-radius: 4px;
        text-decoration: none;
        font-size: 30px;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
