<!-- 自己紹介 -->
<div class="about">
  <!-- 背景 -->
  <div class="container">
    <div class="backimage">
      <p class="background"><span class="test">K</span></p>
      <p class="background"><span class="test">E</span></p>
      <p class="background"><span class="test">L</span></p>
      <p class="background"><span class="test">L</span></p>
      <p class="background"><span class="test">Y</span></p>
    </div>
  </div>

  <!-- メールまでスクロールするボタンと各種SNS -->

</div>
