<!-- 自己紹介 -->
<div class="about">
  <!-- 背景 -->
  <div class="container">
    <div class="backimage">
      <p class="background">K</p>
      <p class="background">E</p>
      <p class="background">L</p>
      <p class="background">L</p>
      <p class="background">Y</p>
    </div>
  </div>

  <!-- メールまでスクロールするボタンと各種SNS -->
  <div class="top-wrapper">
    <h2>about</h2>
    <a href="#contact" class="btn signup smoothScroll">Contact Form </a>
    <p>Please SHARE this article.</p>
    <a href="https://www.pixiv.net/users/5393987" class="btn pixiv" target="_blank"><img class="pixiv-icon" src="https://cdn.discordapp.com/attachments/679267726933491727/694441893962186752/logo.b4908c7.png" alt="">Pixiv</a>
    <a href="https://twitter.com/kelly_dog_cat" class="btn twitter" target="_blank"><span class="fab fa-twitter"></span>Twitter</a>
  </div>
</div>
