<!-- 自己紹介 -->
<div class="about">
  <!-- 背景 -->
  <div class="container">
    <div class="backimage">
      <p class="background">K</p>
      <p class="background">E</p>
      <p class="background">L</p>
      <p class="background">L</p>
      <p class="background">Y</p>
    </div>
  </div>
  <!-- メールまでスクロールするボタンと各種SNS -->
</div>
