<!-- メールフォーム -->
  <h1>Contact</h1>
  <div class="mail_wrapper">
    <!-- 依頼方法選択 -->
    <p>Usage</p>
    <input type="radio" name="usage" value="labelegal_entity" id="corporate">
      <label for="corporate" class="menu label1">
        <span class="border1"></span>
        <span class="border2"></span>
        <span class="border3"></span>
        <span class="border4"></span>
        <p>
          <span class="fas fa-building"></span>
          <p class="menuTitle">Corporate use<span class="japanFont">（法人利用）</span></p>
        </p>

      </label>
    <input type="radio" name="usage" value="individual" id="personal">
      <label for="personal" class="menu label2">
        <span class="border1"></span>
        <span class="border2"></span>
        <span class="border3"></span>
        <span class="border4"></span>
        <p>
          <span class="fas fa-user"></span>
          <p>Personal use<span class="japanFont">（個人利用）</span></p>
        </p>
      </label>
    <!-- 法人向け依頼方法 -->
    <div class="labelegal_entity" id="labelegal_entity">
      <div id="result">

      </div>
      <%= form_with model: @contact,url: { action: "contact" } do |form| %>
        <p>Your Email Address
          <span class="japanFont">
            （連絡先メールアドレス）
          </span>
        </p>
        <%= form.text_field :email, class: :input, id: :input1, :placeholder => "kelly@example.com" %>
        <p>Budget
          <span class="japanFont">
            （予算）
          </span>
        </p>
        <%= form.text_field :budget, class: :input, id: :input2 %>
        <br class="brTypeResposive">
        <p class="yen">
          Japanese Yen
        </p>
        <p>Content
          <span class="japanFont">
            （依頼内容）
          </span>
        </p>
        <%= form.text_area :content, class: :textarea, id: :textarea1,onchange: "textAreaHeightSet(this)",oninput: "textAreaHeightSet(this)"  %>
        <br>
        <button type="submit" class="menu menuFontSize send">
          <span class="border1"></span>
          <span class="border2"></span>
          <span class="border3"></span>
          <span class="border4"></span>
          Send
        </button>
      <% end %>
    </div>

    <!-- 個人向け依頼方法     -->
    <div class="individual" id="individual">
      <p class="explainToJapanise">Please copy the content below</p>
      <p class="japanFont explainToJapanise">1.以下の内容をコピーしてください</p>
      <textarea name="name" class="textarea copy-text" id="copyTarget" readonly oninput="textAreaHeightSet(this)" onchange="textAreaHeightSet(this)">Your Email Address（連絡先メールアドレス）:&#13Content（依頼内容）:
      </textarea><br/>
      <label class="menu" id="copyTrigger">
        <span class="border1"></span>
        <span class="border2"></span>
        <span class="border3"></span>
        <span class="border4"></span>
        Copy Content
        <span class="japanFont">
          &nbsp;（コピーする）
        </span>
      </label>
      <p id="alert"></p>
      <p class="explainToJapanise">When the copy is completed,
        <br/>please access the following site and fill in the copied template and request.
      </p>
      <p class="japanFont explainToJapanise">2.コピーが完了したら下記サイトにアクセスしていただきコピーしたテンプレートを埋めてご依頼ください</p>
      <a href="https://skeb.jp/@kelly_dog_cat" target="_blank" class="menu">
        <span class="border1"></span>
        <span class="border2"></span>
        <span class="border3"></span>
        <span class="border4"></span>
        Request Page(Skeb)
      </a>
    </div>
  </div>
  <script type="text/javascript">
    function textAreaHeightSet(argObj){
 // ==============================================
 //	フォーカス時の背景色リセット
 // ==============================================
  // 一旦テキストエリアを小さくしてスクロールバー（縦の長さを取得）
  argObj.style.height = "10px";
  var wSclollHeight = parseInt(argObj.scrollHeight);
  // 1行の長さを取得する
  var wLineH = parseInt(argObj.style.lineHeight.replace(/px/, ''));
  // 最低2行の表示エリアにする
  if(wSclollHeight < (wLineH * 2)){wSclollHeight=(wLineH * 2);}
  // テキストエリアの高さを設定する
  argObj.style.height = wSclollHeight + "px";
}

  </script>
