<!-- ヘッダー -->
<div class="head" id="head">
  <a href="#illust" class="menu smoothScroll menuFontSize">
    <span class="border1"></span>
    <span class="border2"></span>
    <span class="border3"></span>
    <span class="border4"></span>
    Illust
  </a>
  <a href="#contact" class="menu smoothScroll menuFontSize">
    <span class="border1"></span>
    <span class="border2"></span>
    <span class="border3"></span>
    <span class="border4"></span>
    Contact
  </a>
  <a href="#sns" class="menu smoothScroll menuFontSize">
    <span class="border1"></span>
    <span class="border2"></span>
    <span class="border3"></span>
    <span class="border4"></span>
    SNS
  </a>
</div>
