<div class="head" id="head">

<!-- <a href="#" class="menu smoothScroll menuFontSize">
  <span class="border1"></span>
  <span class="border2"></span>
  <span class="border3"></span>
  <span class="border4"></span>
  Home
</a> -->
<a href="#illust" class="menu smoothScroll menuFontSize">
  <span class="border1"></span>
  <span class="border2"></span>
  <span class="border3"></span>
  <span class="border4"></span>
  Illust
</a>
<!-- <a href="#" class="menu smoothScroll menuFontSize">
  <span class="border1"></span>
  <span class="border2"></span>
  <span class="border3"></span>
  <span class="border4"></span>

</a> -->
<a href="#contact" class="menu smoothScroll menuFontSize">
  <span class="border1"></span>
  <span class="border2"></span>
  <span class="border3"></span>
  <span class="border4"></span>
  Contact
</a>
</div>
