<ul>
  <a href="#topimage" class="smoothScroll">
    Top
  </a>
  <a href="#illust" class="smoothScroll">
    Illust
  </a>
  <a href="#sns" class="smoothScroll">
    SNS
  </a>
  <a href="#contact" class="smoothScroll">
    Contact
  </a>
</ul>
