<h1>SNS</h1>
<div class="snsMenu">
  <div class="snsContainer">
    <a href="https://www.pixiv.net/users/5393987" class="btn pixiv" target="_blank" rel="noopener"><img class="pixiv-icon" src="https://cdn.discordapp.com/attachments/679267726933491727/694441893962186752/logo.b4908c7.png" alt=""><br>Pixiv</a>
  </div>
  <div class="snsContainer">
    <a href="https://twitter.com/kelly_dog_cat" class="btn twitter" target="_blank" rel="noopener"><img class="twitter-icon" src="<%= asset_path "Twitter_Social_Icon_Rounded_Square_Color.png" %>" /><br>Twitter</a>
  </div>
</div>
